{% extends "en/base.html" %}
{% block content %}
<div id="content">
    <div id="page-inner-cnt">
        <table class="tb-with-list">
            <caption id="tb-cap">Areas and Cameras list</caption>
            <tr>
                <th class="tb-td">ID</th>
                <th class="tb-td">Area name</th>
                <th class="tb-td">Сameras</th>
                <th></th>
                <th></th>
            </tr>
            {% for area in areas %}
            <tr>
                <td class="tb-td">
                    {{area.id}}
                </td>
                <td class="tb-td">
                    {{area.name}}
                </td>
                <td class="tb-td">
                    {% for camera in area.cameras_dict %}
                        <a class="cam" href="camera/{{camera.id}}/">{{camera.name}}</a><br>
                    {% endfor %}
                </td>
                <td class="tb-td edit-bck">
                    <a class="hover-btn" href="edit/{{area.id}}/">Edit</a>
                </td>
                <td class="tb-td del-bck">
                    <a class="hover-btn" href="delete/{{area.id}}/">Delete</a>
                </td>
            {% endfor %}
        </table>
        <h3>Add new area</h3>
        <form action="add_area/" method="post">
            {% csrf_token %}
            <label for="area_name">Area name:</label><br>
            <div class="input-div">
                <input type="text" name="area_name" id="id_area_name" required placeholder="Area 1">
            </div>
            <input class="sbmt-btn" type="submit" value="Add">
        </form>
    
        <h3>Add new camera</h3>
        <form action="add_camera/" method="post">
            {% csrf_token %}
            <label for="camera_name">Camera name:</label><br>
            <div class="input-div">
                <input type="text" name="camera_name" id="id_camera_name" required placeholder="Camera 1">
            </div>
            <label for="camera_for_area_name">Area name:</label><br>
            <div class="input-div">
                <select class="select-input" name="camera_for_area_name" id="id_camera_for_area_name" required>
                    {% for area in areas %}
                        <option value="{{area.name}}">{{area.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="sbmt-btn" type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock content %}