{% extends "en/base.html" %}
{% block content %}
<div id="content">
    <div id="page-inner-cnt" style="width: 50%;">
        <h1>Contacts</h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae impedit veniam quisquam molestias eius at quis cumque 
            alias eos accusamus consequatur, culpa numquam. Quis deleniti excepturi fugit ea dolore delectus?
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae impedit veniam quisquam molestias eius at quis cumque 
            alias eos accusamus consequatur, culpa numquam. Quis deleniti excepturi fugit ea dolore delectus?
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae impedit veniam quisquam molestias eius at quis cumque 
            alias eos accusamus consequatur, culpa numquam. Quis deleniti excepturi fugit ea dolore delectus?
        </p>
    </div>
</div>
{% endblock content %}