{% extends "ua/base.html" %}
{% block content %}
<div id="content">
    <div id="page-inner-cnt">
        <h3>Редагування розкладу</h3>
        <form action="update/" method="post">
            {% csrf_token %}
            <label for="time_start">Час початку:</label><br>
            <div class="input-div">
                <input type="time" name="time_start" id="id_time_start" required value="{{schedule.time_start}}">
            </div>
            <label for="time_end">Час закінчення:</label><br>
            <div class="input-div">
                <input type="time" name="time_end" id="id_time_end" required value="23:00">
            </div>
            <label>День тижня:</label><br>
            <div class="input-div">
                <input class="radio-btn" type="checkbox" name="sch_mon" id="id_sch_mon" {% if schedule.monday %} checked {% endif %}>Понеділок<br>
                <input class="radio-btn" type="checkbox" name="sch_tue" id="id_sch_tue" {% if schedule.tuesday %} checked {% endif %}>Вівторок<br>
                <input class="radio-btn" type="checkbox" name="sch_wed" id="id_sch_wed" {% if schedule.wednesday %} checked {% endif %}>Середа<br>
                <input class="radio-btn" type="checkbox" name="sch_thu" id="id_sch_thu" {% if schedule.thursday %} checked {% endif %}>Четвер<br>
                <input class="radio-btn" type="checkbox" name="sch_fri" id="id_sch_fri" {% if schedule.friday %} checked {% endif %}>П'ятниця<br>
                <input class="radio-btn" type="checkbox" name="sch_sat" id="id_sch_sat" {% if schedule.saturday %} checked {% endif %}>Субота<br>
                <input class="radio-btn" type="checkbox" name="sch_sun" id="id_sch_sun" {% if schedule.sunday %} checked {% endif %}>Неділя<br>
            </div>
            <input class="sbmt-btn" type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock content %}